<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Application logs</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Wed Jul 11 21:41:20 MSK 2018<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:115</td>
<td title="Message">Hello this is an debug message</td>
</tr>

<tr>
<td>6</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:116</td>
<td title="Message">Hello this is an info message</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Application logs</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Wed Jul 11 21:43:49 MSK 2018<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:115</td>
<td title="Message">Hello this is an debug message</td>
</tr>

<tr>
<td>7</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:116</td>
<td title="Message">Hello this is an info message</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Application logs</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Wed Jul 11 21:44:40 MSK 2018<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:115</td>
<td title="Message">Hello this is an debug message</td>
</tr>

<tr>
<td>5</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:116</td>
<td title="Message">Hello this is an info message</td>
</tr>

<tr>
<td>5</td>
<td title="http-nio-8080-exec-1 thread">http-nio-8080-exec-1</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:117</td>
<td title="Message">Hello this is an info message</td>
</tr>

<tr>
<td>2881</td>
<td title="http-nio-8080-exec-2 thread">http-nio-8080-exec-2</td>
<td title="Level"><font color="#339933">DEBUG</font></td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:115</td>
<td title="Message">Hello this is an debug message</td>
</tr>

<tr>
<td>2883</td>
<td title="http-nio-8080-exec-2 thread">http-nio-8080-exec-2</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:116</td>
<td title="Message">Hello this is an info message</td>
</tr>

<tr>
<td>2884</td>
<td title="http-nio-8080-exec-2 thread">http-nio-8080-exec-2</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.controllers.OfferController category">ru.desided.voluum_combine.controllers.OfferController</td>
<td>OfferController.java:117</td>
<td title="Message">Hello this is an info message</td>
</tr>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Application logs</title>
<style type="text/css">
<!--
body, table {font-family: arial,sans-serif; font-size: x-small;}
th {background: #336699; color: #FFFFFF; text-align: left;}
-->
</style>
</head>
<body bgcolor="#FFFFFF" topmargin="6" leftmargin="6">
<hr size="1" noshade>
Log session start time Thu Jul 12 03:26:39 MSK 2018<br>
<br>
<table cellspacing="0" cellpadding="4" border="1" bordercolor="#224466" width="100%">
<tr>
<th>Time</th>
<th>Thread</th>
<th>Level</th>
<th>Category</th>
<th>File:Line</th>
<th>Message</th>
</tr>

<tr>
<td>0</td>
<td title="http-nio-8080-exec-2 thread">http-nio-8080-exec-2</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.logic.add_offer.impl.Voluum category">ru.desided.voluum_combine.logic.add_offer.impl.Voluum</td>
<td>Voluum.java:664</td>
<td title="Message">error</td>
</tr>

<tr>
<td>114874</td>
<td title="http-nio-8080-exec-8 thread">http-nio-8080-exec-8</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.logic.add_offer.impl.Voluum category">ru.desided.voluum_combine.logic.add_offer.impl.Voluum</td>
<td>Voluum.java:664</td>
<td title="Message">error</td>
</tr>

<tr>
<td>167702</td>
<td title="http-nio-8080-exec-10 thread">http-nio-8080-exec-10</td>
<td title="Level">INFO</td>
<td title="ru.desided.voluum_combine.logic.add_offer.impl.Voluum category">ru.desided.voluum_combine.logic.add_offer.impl.Voluum</td>
<td>Voluum.java:664</td>
<td title="Message">error</td>
</tr>
